

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries (NO ignoramos .dll para poder versionarlas)
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib   # <- comentado para subir SDL2.lib, SDL2_image.lib, etc.

# Executables
*.exe
*.out
*.app

########################
# Visual Studio
########################
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

########################
# Builds / intermedios
########################
# IGNORAR TODO bin/...
bin/**

# ...PERO PERMITIR ESTAS DLL ESPECÍFICAS
!bin/
!bin/Debug/
!bin/Release/
!bin/Debug/SDL2.dll
!bin/Debug/SDL2_image.dll
!bin/Release/SDL2.dll
!bin/Release/SDL2_image.dll

# Resto de build sigue ignorado
build/**/Debug/
build/**/Release/
build/**/x64/
build/**/ipch/
build/**/obj/
*.log
*.tlog
*.pdb
*.ilk
*.idb
*.lastbuildstate
*.recipe

########################
# ImGui (opcional)
########################
imgui.ini

########################
# Otros
########################
*.tmp
*.cache
