# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries (NO ignoramos .dll para poder versionarlas)
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib   # <- comentado para subir SDL2.lib, SDL2_image.lib, etc.

# Executables (no queremos subir .exe)
*.exe
*.out
*.app

########################
# Visual Studio
########################
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

########################
# Builds / intermedios
########################
# Ignorar TODO bin/
bin/**

# ...PERO permitir que se suban SOLO estas DLL específicas:
!bin/
!bin/Debug/
!bin/Release/
!bin/Debug/SDL2.dll
!bin/Debug/SDL2_image.dll
!bin/Release/SDL2.dll
!bin/Release/SDL2_image.dll

# Ignorar todo lo generado por Premake/VS
build/**

*.log
*.tlog
*.pdb
*.ilk
*.idb
*.lastbuildstate
*.recipe

########################
# ImGui (opcional)
########################
imgui.ini

########################
# Otros
########################
*.tmp
*.cache
